.Rhistory
.RData
.Rproj.user
econdashboard.Rproj
resultado_gov.xlsx
cover.png
logo.png
*.ttf
*.log
politica-fiscal.tex
politica-fiscal_files/
atividade-economica-es_files/
atividade-economica-es.tex
atividade-economica_files/
atividade-economica.tex
nul
politica-fiscal-es.tex
politica-fiscal-es_files/
politica-fiscal-es.aux
