.Rhistory
.RData
.Rproj.user
econdashboard.Rproj
resultado_gov.xlsx
cover.png
logo.png
*.ttf
*.log
*.tex
*.toc
politica-fiscal_files/
consumo_files/
consumo.tex
atividade-economica-es_files/
atividade-economica_files/
nul
