/* logo */
.skin-blue .main-header .logo {
  background-color: #004b8d;
  font-weight: normal;
  color: #808080;
}

.center {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #004b8d;
  color: white;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #004b8d;
  color: #6D6964;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #004b8d;
  color: #6D6964;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a {
  background-color: #56af31;
  color: white;
}

/* active selected tab in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a:hover {
  background-color: white;
  color: #808080;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
  background-color: #004b8d;
  color: white;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  background-color: white;
  color: #6D6964;
}

/* toggle button when not hovered  */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #004b8d;
  color: #56af31;
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #004b8d;
  color: #56af31;
}

/* fundo do body */
.content-wrapper {
  background-color: white;
}
