/* logo */
.skin-blue .main-header .logo {
  background-color: #004b8d;
  font-weight: normal;
  color: #808080;
  padding: 0px;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #004b8d;
  color: white;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #004b8d;
  color: #6D6964;
}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #004b8d;
  color: #6D6964;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a {
  background-color: #56af31;
  color: white;
}

/* active selected tab in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a:hover {
  background-color: white;
  color: #808080;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
  background-color: white;
  color: #6D6964;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  background-color: white;
  color: #6D6964;
}

/* toggle button when not hovered  */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #004b8d;
  color: #56af31;
}

/* toggle button when hovered  */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #004b8d;
  color: #56af31;
}

/* fundo do body */
.content-wrapper {
  background-color: white;
}

/* boxes warning resenha */
.box.box-solid.bg-yellow  {
  background-color: #004b8d !important;
  border-style: solid;
  border-width: thin;
  border-color: #004b8d;
}

/* boxes warning exceto resenha */
.box.box-solid.box-warning {
  background-color: white !important;
  border-style: solid;
  border-width: thin;
  border-color: #004b8d;
}

/* boxes warning exceto resenha - header */
.box.box-solid.box-warning>.box-header {
  background-color: #004b8d !important;
}

.res-tit, .res-body, .box-tit, .box-subtit, .box-body, .box-legenda {
  font-family: "Century Gothic";
}

.res-tit {
  font-size: 26px;
  padding: 0px;
}

.res-body {
  font-size: 14px;
  color: white;
  text-align: left;
  padding: 10px;
}

.box-tit {
  font-size: 26px;
}

.box-subtit {
  font-size: 18px;
  color: #808080;
}

.box-body {
  font-size: 14px;
  color: #808080;
  padding: 1px;
}

.box-legenda {
  font-size: 12px;
  color: #808080;
  padding: 1px;
}
